/* Reset CSS */
*{
    margin: 2%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body{
    height: 100%;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Estilos Gerais */

#link-logo{
    text-decoration: none;
    color: #D2872C;
}
#logo{
    font-size: 25px;
}
/* menu */
.menu{
    position: relative;
    width: 100%;
    top: 30%;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}
.menu_open{
    transform: translateX(0);
}
.menu-item-action{
    text-decoration: none;
    color: #766F68;
    font-size: 20px;
    margin: 10px;
}
.menu-item-action:hover{
    color: #f38f14;
}

/* botões do menu */
.btnMenu{
    display: block;
    background-repeat: no-repeat;
    color: transparent;
    padding: 10px 20px;
}
.btnMenu_open{
    background-image: url('../img/menu_open.png');
}
.btnMenu_close{
    background-image: url('../img/menu_close.png');
    display: none;
}

#title{
    color: #766F68;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 35px;
}
#text{
    color: #766F68;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
#start{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #D2872C;
    border: #D2872C;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

#start:hover{
    background-color: #f38f14;
}

/* Media queries */

/* Versão Mobile (Smartphones) */
@media (max-width: 480px) { 
    #content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
}

/* Tablets */
@media (min-width: 481px){
    *{
        margin: 2%;
    }
    main{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .wrap-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu{
        display: flex;
        position: relative;
        width: 35%;
        top: 22%;
        left: 0;
        transform: translateX(200%);
        transition: transform 500ms ease-in-out;
    }
    .menu_open{
        transform: translateX(-50%);
    }
    .btnMenu{
        position: absolute;
    }

    #title{
        text-align: left;
        font-size: 40px;
    }
    #text{
        text-align: left;
    }
    #image{
        width: 95%;
    }
}

/* Desktops */
@media (min-width: 1024px){
    *{
        margin: 1%;
    }
    #logo{
        font-size: 40px;
    }
    .btnMenu_open{
        visibility: hidden;
    }
    .btnMenu_close{
        visibility: hidden;
    }
    .menu{
        position: absolute;
        width: 100%;
        top: 17%;
        left: 9%;
        transform: translateX(60%);
        display: flex;
    }
    #title{
        font-size: 60px;
    }
    #text{
        font-size: 35px;
    }
    #image{
        width: 100%;
        margin-left: 0;
    }
    #start{
        width: 300px;
        font-size: 25px;
    }
}